.wrapper h2 {text-align: center;}

.Menu {
    width: 80%;
    margin: 30px auto;
    border: 1px silver;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.Food {
    border: 1px grey;
}

.Food img {
    padding: 5px;
    width: 100%;
}